.about-section{
    background-color: $color-grey-light;
    margin-top: -20vh;//-ve margin increases the area of the element by given dimension
    padding: 25rem 0;//to prevent margin collapse between heading and section element
}

.section-features{
    background-color: $color-grey-light;
    background-image:linear-gradient(to right bottom, rgba($color-primary-dark, .8), rgba($color-primary-light, .8)),
                        url(../../img/nat-4.jpg);
    padding: 10rem;//increases height as well as area of the element
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $color-grey-light;
    padding: 25rem 0 13rem ;
    margin-top: -8rem;
}

.section-story{
    //background-color: $color-grey-light;
    padding: 10rem;
    position: relative;
}

.section-booking{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .9), rgba($color-primary-dark, .9));
}

.book{
    background-image: linear-gradient(105deg,rgba($color-white, .9) 0% 50%, rgba($color-white, 0.0) 50%), 
    url(../../img/nat-10.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    &__form{
        width: 50%;
        padding: 6rem;
    }
}