.composition{
    position: relative;
    &__photo{
        position: absolute;
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        outline-offset:1.5rem;
        transition: all .2s;
        

        &--p1{
            top: -2rem;
            left: 0rem;
        }

        &--p2{
            top: 2rem;
            right: 0rem;
        }

        &--p3{
            top: 8rem;
            left: 2rem;
        }

        &:hover{
            transform: scale(1.1) translateY(.1rem);
            box-shadow: .5 1.5rem 4rem rgba($color-black, .5);
            outline: 1rem solid $color-primary-light;
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }

}
