$color-primary: #55c57a;
$color-primary-dark: #7ed56f;
$color-primary-light: #28b485;
$color-grey-dark: #777;
$color-white: #fff;

$grid-width: 80vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$color-grey-light: #f7f7f7;
$color-black: black;